name: Ploomber Cloud

on:
  push:
    branches:
      # only deploy from the main branch
      - main

jobs:
  deploy-to-ploomber-cloud-dev:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ploomber-cloud

      - name: Deploy
        env:
          PLOOMBER_CLOUD_KEY: ${{ secrets.PLOOMBER_CLOUD_KEY }}
        run: |
          ploomber-cloud deploy --config ploomber-cloud.dev.json --watch-incremental | tee watch.log
        # The --watch-incremental flag will print deployment status and deployment
        # log updates to the GitHub logs.
        # To learn more, visit: https://docs.cloud.ploomber.io/en/latest/user-guide/github.html

      - name: Check for failure
        run: |
          if grep -q "Deployment failed1" watch.log; then
          exit 1
          fi

  deploy-to-ploomber-cloud-prod:
    runs-on: ubuntu-latest
    environment: 'prod'
    needs: [deploy-to-ploomber-cloud-dev]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ploomber-cloud

      - name: Deploy
        env:
          PLOOMBER_CLOUD_KEY: ${{ secrets.PLOOMBER_CLOUD_KEY }}
        run: |
          ploomber-cloud deploy --config ploomber-cloud.prod.json --watch-incremental
